<h1>{{appName}}</h1>
<p id="explanation">Menu Tracker helps you see what dishes are available today.</p>
<p/>
<ul>
  {{#each foods as |food|}}
    {{#if food.isAvailable}}
      <li>{{food.name}}!</li>
    {{else}}
      <li class="not-available">{{food.name}}</li>
    {{/if}}

  {{/each}}
</ul>
